
{{> head }}

{{> navbar }}

<div class+"row">

<divclass+"col-8">
    <h1>Columna 1</h1>
</div>

<divclass+"col-4">
    <img src="/assets/img/IMG.jpeg" class="img-thumbnail">
</div>

</div>



{{> footer }}
</body>
</html>